@charset "utf-8";

body {
    font-family: Arial;
    font-size: 12pt;
    background-color: #d1d0a9;
    color: #bf8888;
    margin: 50pt;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#8184ec;
    font-size: 600%;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color:#69b6b3;
    font-size: 60px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #659c72;
    font-size: 170%;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color:#697196;
}

#unique {
    float:right;
}

a:link, a:visited {
    color:brown;
    font-style: italic;
}

a:hover {
    color:yellow;
    background-color: blue;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
}

a:active {
    color: #ff0000;
    background-color: orange;
    font-family: cursive;
    font-style: italic;
    border-radius: 40px;
}

.Row {
    display: table-row;
}

.Table {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 10px;
    padding-right: 20px;
}

/* Defines style for the pipcture. */
#selfPicture {
    width: 5%;
    height: 5%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Defins style for the text above the picture. */
#pictureText {
    padding: #d1d0a9;
    text-align: center;
}

/* Defines positioning for navigation bar.*/
nav {
    float: left;
    position: absolute;
    display: inline-block;
    border: none;
    font-size: 50px;
    top:0;
    border:solid; 
    border-width: thick;
}

/* Defines positioning and style for drop down menu.*/
.content {
    display: none;
    position: absolute;
    background-color: #69b6b3;
}

/* Defines style for the navigation bar items*/
.navItem {
    border:solid; 
    border-width: thin;
    background-color: white;
}

/* Vertically shows dropdown menu links. */
.content a {
    display: block;
    border:solid; 
    border-width: thick;
}

/* Makes dropdown menu visible.*/
.show {
    display: block;
}

/* Defines style for the button*/
.menuButton {
    font-size: 50px;
}